/* NAVIGATION HEADER */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
-webkit-box-shadow: 0px 2px 4px 0px rgba(204,204,204,1);
-moz-box-shadow: 0px 2px 4px 0px rgba(204,204,204,1);
box-shadow: 0px 2px 4px 0px rgba(204,204,204,1);
}
.logo {
  margin-top: 3px;
  margin-left: -25px;
  transform: scale(0.4);
}

/* only for super large screens */
.navbar-extension {
  display: none;
}

.navbar-text {
  font-size: 1.5em;
  font-weight: 500;
  min-width: 220px;
  margin-left: 50%;
}
.navbar-text a {
  text-decoration: none;
  color: black;
}

.hamburger {
}
.hamburgerbar {
  width: 33px;
  height: 4px;
  background: #5c5c5c;
  margin: 5px 0;
  border-radius: 2px;
}
.hamburgerbar:first-child {
  margin-top: 0;
}
.hamburgerbar:last-child {
  margin-bottom: 0;
}

.cross div {
  position: absolute;
  top: 18px;
  right: 5px;
  width: 33px;
  height: 4px;
  background: white;
}
.cross div:first-child {
  transform: rotate(45deg);
}
.cross div:last-child {
  transform: rotate(-45deg);
}

.contact-items {
  position: fixed;
  display: flex;
  align-items: center;
  top: 2px;
  right: 2px;
  height: 50px;
  z-index: 1000;
}
.contact-items a {
  text-decoration: none;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 10px auto;
  max-width: 600px;
}
.contact-buttons-actie {
  flex-direction: row;
}
.contact-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  height: 100px;
  width: 100px;
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  border-radius: 50%;
  border: 2px solid black;
  transition: all 0.25s ease-in-out;
  background: white;
  background: linear-gradient(135deg, rgba(247,247,247,1) 14%, rgba(240,255,235,1) 34%, rgba(255,255,255,1) 39%, rgba(249,239,255,1) 43%, rgba(255,255,255,1) 48%, rgba(234,247,255,1) 52%, rgba(255,255,255,1) 64%);
}
.contact-button-actie {
  height: 80px;
  width: 80px;
  font-size: 1.1em;
  border-width: 1px;
}
.contact-button:hover {
  transform: scale(1.1);
}
.contact-button-whatsapp {
  border-color: green;
  color: green;
}
.contact-button-e-mail {
  border-color: darkorange;
  color: darkorange;
}
.contact-button-phone {
  border-color: darkred;
  color: darkred;
}

.contact-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 130px;
  font-size: 1.2em;
  color: white;
  background: green;
  border-left: 1px solid white;
}
.phone:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.phone:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.pointy-thingy {
  width: 110px;
}
.pointy-thingy:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: green;
  border-left: 0;
  margin-top: -8px;
  margin-left: -6px;
}

.menu-toggle {
  position: fixed;
  top: 14px;
  left: 14px;
  z-index: 2;
}

.hamburgerlogo {
  width: 110px;
  margin-top: -12px;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  background: white;
  position: fixed;
  left: -120px;
  top: 0;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 120px;
  background: black;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.main-menu li:first-child a {
  border-top: 1px solid white;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: relative;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media screen and (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    align-items: center;
    /* Undo off-canvas styling */
    padding: 0;
    height: 50px;
    width: auto;
    overflow-y: hidden;
    background: none;
  }
  
  .main-menu a {
    color: black;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover {
    color: white;
  }
} 
/** END NAVIGATION HEADER **/




body {
  font-family: 'Hind Vadodara', sans-serif;
  padding: 0;
  margin: 0;
  background: #e3e2de;
}

div {
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  padding: 4px 20px 0;
  font-weight: 500;
  color: black;
  height: 50px;
}

h2 {
  margin: 30px 20px 0px;
  font-weight: 600;
}

p {
  margin: 0 20px;
}
 
.hide-on-small-screens {
  display: block;
}

.home:hover { background: black; }
.yellow:hover { background: #ffd942; }
.green:hover { background: #68c230; }
.blue:hover { background: #2f85ed; }
.orange:hover { background: #ff9442; }

.main {
  margin-top: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  background: #f7f7f7;
  background: rgb(247,247,247);
  background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%);
}

.section {
  margin: 0 15px 0 15px;
  padding: 0px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  background: purple;


  background-image: url("images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background: white;
  background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(105,105,105,1) 11%, rgba(133,133,133,1) 12%, rgba(133,133,133,1) 12%, rgba(112,112,112,1) 14%, rgba(107,107,107,1) 25%, rgba(189,115,54,1) 27%, rgba(198,151,39,1) 39%, rgba(155,168,61,1) 52%, rgba(255,195,219,1) 55%, rgba(121,222,244,1) 83%, rgba(33,223,255,1) 100%);
  color: black;
}
.soon {
  max-width: 50%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.soon-header {
  font-size: 2.5em;
  font-weight: 600;
  line-height: 0.8em;
}
.soon-header:after {
  content: "L";
  position: absolute;
  margin-left: 20px;
  color: white;
  font-size: 1.2em;
  background: blue;
  border-radius: 4px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  transform: rotate(-30deg);
}
.soon-link {
  text-decoration: none;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.4em;
  padding: 10px 15px;
  border-radius: 100px;
  color: darkorange;
  background: white;
  border: 2px solid darkorange;
}
.soon-link:hover {
  transform: scale(1.1);
}

.actie {
  border: 1px solid orange;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 10px;
  max-width: 600px;
}
.actie-voorwaarden {
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 10px;
  max-width: 600px;
}

input[type='checkbox'] { 
  display: none; 
} 
.wrap-collabsible { 
  margin: 20px 0;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e06812;
} 
.lbl-toggle { 
  display: block;
  text-align: center; 
  background: #e06812;
  color: white;
  transition: all 0.25s ease-out;
  padding: 10px;
}  
.lbl-toggle::before { 
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid currentColor; 
  vertical-align: middle; 
  margin-right: .7rem; 
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 
.toggle:checked+.lbl-toggle::before { 
  transform: rotate(90deg) translateX(-3px); 
} 
.collapsible-content { 
  max-height: 0px; 
  overflow: hidden;
  background: white;
  transition: max-height .25s ease-in-out; 
} 
.toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 10000px; 
} 
.toggle:checked+.lbl-toggle { 
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0; 
} 
.collapsible-content .content-inner { 
  padding: 20px 10px;
}
.collapsible-content .content-inner ul li { 
  padding: 0 0 5px 0;
}
.collapsible-content .content-inner ul {
  list-style: none; /* Remove default bullets */
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.collapsible-content .content-inner ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #e06812; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.selling-points {
  display: flex;
  align-items: center;
  background-color: #212121;
  font-size: 1.2em;
  width: 25%;
}
.trial-lesson {
  margin: 20px auto;
  color: white;
}
.trial-lesson .inner {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 150px;
  height: 150px;
  border: 2px solid white;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  background: green;
  color: white;
  text-decoration: none;
}

.assets {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: green;
}

.assets .asset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 10px 5px;
  padding: 10px;
  max-width: 80vw;
  border: 1px solid green;
  border-radius: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  background: white;
}
.check {
  display: inline-block;
  transform: rotate(45deg);
  height: 16px;
  width: 10px;
  margin: 0 15px 0 5px;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
}

.prices {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 625px;
  margin: 0 auto;
}
.item-description-price {
  display: flex;
  padding: 10px 20px;
  margin: 10px 10px;
  border: 1px solid green;
  width: 250px;
  background: white;
}
.read-more {
  font-size: 0.9em;
  color: gray;
}
.priced-item {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 8px;
}
.item-price {
  font-size: 1.3em;
  margin-right: 0;
  margin-left: auto;
}
.item-description {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.packages {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
}
.package {
  text-align: center;
  display: inline-block;
  border: 1px solid green;
  margin: 10px;
  width: 160px;
}
.package-title {
  color: white;
  font-size: 1.2em;
  padding: 15px;
}
.package-price {
  padding: 15px;
  font-size: 1.2em;
  background: white;
}
.package ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  height: 80px;
  background: white;
  border-bottom: 1px solid;
  border-color: inherit;
}

.package-1 { border-color: #68c230; background: #68c230; }
.package-2 { border-color: #2f85ed; background: #2f85ed; }
.package-3 { border-color: #ff9442; background: #ff9442; }
.package-4 { border-color: #8d42f5; background: #8d42f5; }
.package-5 { border-color: green; background: green; }
.package-6 { border-color: #d46702; background: #d46702; }

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me p {
  max-width: 500px;
  margin-bottom: 20px;
  text-align: justify;
}

.about-me .multiple-p p:first-child {
  margin-top: 0;
}

.about-me h2 {
  margin-top: 0;
  text-align: center;
}

.portrait {
  border-radius: 35%;
  height: 300px;
  width: 300px;
  margin-bottom: 15px;
  flex-shrink: 0;
  border: 5px solid #ffda47;
}

/*...*/
.column {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.align-top {
  align-items: flex-start;
}

.nowrap {
  white-space: nowrap;
}

.costs-explained {
  max-width: 640px;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .hide-on-large-screen { display: none; }
}

/* small screen */
@media screen and (max-width: 768px) {
  .hide-on-small-screen { display: none; }
}

/* small screen */
@media screen and (max-width: 768px) {
  .selling-points {
    width: 100%;
  }
  
  .selling-points .trial-lesson {
    margin: 5px auto;
  }

  .selling-points .trial-lesson .inner {
    white-space: nowrap;
    height: 20px;
    border-radius: 40px;
    width: auto;
  }
  
  .navbar-text {
    margin-left: auto;
    margin-right: auto;
  }

  .prices {
    justify-content: center;
  }
}

/* super large screens */
@media screen and (min-width: 1100px) {
  .main {
    margin-top: 80px;
    padding: 0 30px;
  }
  .selling-points {
    border-top-right-radius: 20px;
  }
  .navbar-extension {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #18007a;
    height: 220px;
    width: 100%;
    z-index: -1;
  }
  .hero {
    border-radius: 25px 25px 0 0;
  }
  .navbar-text {
    margin-left: auto;
    margin-right: auto;
  }
}

