/* NAVIGATION HEADER */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid green;
}

/* only for super large screens */
.navbar-extension {
  display: none;
}

.hamburger {
}
.hamburgerbar {
  width: 33px;
  height: 4px;
  background-color: #212121;
  margin: 5px 0;
  border-radius: 2px;
}
.hamburgerbar:first-child {
  margin-top: 0;
}
.hamburgerbar:last-child {
  margin-bottom: 0;
}

.cross div {
  position: absolute;
  top: 18px;
  right: 5px;
  width: 33px;
  height: 4px;
  background: white;
}
.cross div:first-child {
  transform: rotate(45deg);
}
.cross div:last-child {
  transform: rotate(-45deg);
}

.contact-items {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 50px;
  z-index: 1000;
}
.contact-items a {
  text-decoration: none;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 130px;
  font-size: 1.2em;
  color: white;
  background: green;
  border-left: 1px solid white;
}
.pointy-thingy {
  width: 110px;
}
.pointy-thingy:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: green;
  border-left: 0;
  margin-top: -8px;
  margin-left: -7px;
}

.menu-toggle {
  position: fixed;
  top: 14px;
  left: 14px;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  background: white;
  position: fixed;
  left: -120px;
  top: 0;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 120px;
  background: #212121;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.main-menu li:first-child a {
  border-top: 1px solid white;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: relative;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media screen and (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    align-items: center;
    /* Undo off-canvas styling */
    padding: 0;
    height: 50px;
    width: auto;
    overflow-y: hidden;
    background: none;
  }
  
  .main-menu a {
    color: black;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover {
    color: white;
  }
}
/** END NAVIGATION HEADER **/




body {
  font-family: 'Hind Vadodara', sans-serif;
  padding: 0;
  margin: 0;
  background: #d2d6ce;
}

div {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 30px 20px 10px -23px;
  padding: 4px 20px;
  font-weight: 500;
  color: white;
  background: #5c5c5c;
  border: 3px outset #5c5c5c;
  border-radius: 3px;
  width: 100%;
  height: 50px;
}

h2 {
  margin: 30px 20px 0px;
  font-weight: 600;
}

p {
  margin: 0 20px;
}
 
.hide-on-small-screens {
  display: block;
}

.home:hover { background: black; }
.yellow:hover { background: #ffd942; }
.green:hover { background: #68c230; }
.blue:hover { background: #2f85ed; }
.orange:hover { background: #ff9442; }

.main {
  margin-top: 50px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.section-wrapper {
  padding-top: 40px;
  margin-top: -34px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.section {
  margin: 0 15px 0 15px;
  padding: 0px;
}

.final-section {
  height: 50vh;
}

.hero {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.hero-img {
  flex-grow: 2;
  max-height: 72vh;
  max-width: 100%;
  object-fit: cover;
}

.selling-points {
  display: flex;
  align-items: center;
  background-color: #212121;
  font-size: 1.2em;
  width: 25%;
}
.trial-lesson {
  margin: 20px auto 0 auto;
  color: white;
}
.trial-lesson .inner {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
  background: green;
  color: white;
  text-decoration: none;
}

.assets {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: green;
}

.assets .asset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 10px 5px;
  padding: 10px;
  max-width: 80vw;
  border: 1px solid green;
  border-radius: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: center;
}

.prices {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.item-description-price {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 10px;
  border: 1px solid green;
  width: 420px;
}
.priced-item {
  font-size: 1.2em;
  min-width: 260px;
}
.item-price {
  font-size: 1.3em;
  margin-right: 0;
  margin-left: auto;
  align-self: flex-start;
}
.item-description {
  font-size: 0.9em;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-me p {
  max-width: 500px;
  margin-bottom: 20px;
  text-align: justify;
}

.about-me .multiple-p p:first-child {
  margin-top: 0;
}

.about-me h2 {
  margin-top: 0;
  text-align: center;
}

.portrait {
  border-radius: 35%;
  margin-bottom: 15px;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 5px solid #ffda47;
}

/*...*/
.column {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.align-top {
  align-items: flex-start;
}

.nowrap {
  white-space: nowrap;
}

.costs-explained {
  max-width: 400px;
}

@media screen and (min-width: 768px) {
  .hide-on-large-screen { display: none; }
}

/* small screen */
@media screen and (max-width: 768px) {
  .hide-on-small-screen { display: none; }
}

/* small screen */
@media screen and (max-width: 800px) {
  .selling-points {
    width: 100%;
  }
  
  .selling-points .trial-lesson {
    margin: 5px auto;
  }

  .selling-points .trial-lesson .inner {
    white-space: nowrap;
    height: 20px;
    border-radius: 5px;
    width: auto;
  }

  .hero {
    flex-direction: column;
  }
}

/* super large screens */
@media screen and (min-width: 1100px) {
  .main {
    margin-top: 80px;
    padding: 0 30px;
  }
  .hero-img {
    border-top-left-radius: 20px;
  }
  .selling-points {
    border-top-right-radius: 20px;
  }
  .navbar-extension {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #264d00;
    height: 220px;
    width: 100%;
    z-index: -1;
  }
}

