body {
  background-color: #C2B9B0;
  font-family: "Verdana", "Geneva", sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
}

h1 {
  font-size: 1.2em;
}

p {
  color: black;
}

input {
  width: 100px;
}

div {
  width: 750px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: #f5e6bc;
  border-radius: 10px;
}

button {
  display: block;
  background-color: #038a56;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  color: white; 
  font-size: 1.2em;
  margin-top: 10px;
  margin-left: auto;
}

.correct {
  display: none;
  background-color: #AFD275;
}

.fout {
  display: none;
  background-color: #f28a83;
}

header div {
  display: inline-block;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  background-color: black;
}

.goed_beantwoord {
  color: green;
}

.fout_beantwoord {
  color: red;
}


